<div class="col-2 text-center">
    <ul class="nav flex-column nav-pills">
      <a href="/" class="nav-link active" ariaCurrentWhenActive="page">Inicio</a>
      <a href="/clientes/findAll/view" class="nav-link" ariaCurrentWhenActive="page">Clientes</a>
      <a href="/productos/findAll/view" class="nav-link" ariaCurrentWhenActive="page">Prdouctos</a>
      <a href="/pedidos/findAll/view" class="nav-link" ariaCurrentWhenActive="page">Pedidos</a>
    </ul>
</div>